--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio
tqdm
sympy
openai
requests
urllib3
transformers
func_timeout
z3-solver
accelerate
bitsandbytes
packaging
ninja
wheel
python-dotenv
scikit-learn
matplotlib
# flash_attn